:root {
    --black: #222222;
    --pink-bkg: #F1E4E6;
    --pink-text: #F1808F;
    --white-text: #FFFFFF;
}

body {
    font-family: lato;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.header {
    background-color: var(--black);
}

.header__search {
    display: flex;
}

.header__search-button:hover ~ [type="search"],
.header__search-button:focus ~ [type="search"],
.header__search-button:active ~ [type="search"] {
    display: block;
}

[type="search"]:active,
[type="search"]:hover {
    display: block;
}

.header__search-button {
    margin: 5px 0 0 0;
    background: var(--black);
    border: none;
    cursor: pointer;
}

.header__search-form {
    display: flex;
    width: 200px;
  }
  

[type="search"] {
    padding: 10px 20px;
    border: none;
    outline: 1px solid black;
    display: none;
}
  
[type="search"]:hover {
    outline: 1px solid red;
}
  

.container {
    width: 1140px;
    margin: 0 auto;
}

.header__wrp {
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    align-items: center;
}

.header__logo {
    margin: 0 41px 0 0;
}


.header__button {
    border: 0;
    background-color: transparent;
}

.header__link {
    margin: 0 0 0 33px;
}

.header__menu {
    display: none;
}

.menu-sub-item__item-link {
    text-transform: capitalize;
}

.brand {
    display: flex;
    margin: 0 0 63px;
}

.brand__title-wrp {
    display: flex;
    align-items: center;
    padding: 0 0 0 92px;
    background-color: var(--pink-bkg);
    flex-grow: 1;
}

.brand__title {
    font-weight: 900;
    line-height: 58px;
    font-size: 48px;
    color: var(--black);
    text-transform: uppercase;
}

.brand__sub-title {
    display: block;
    font-size: 32px;
    line-height: 38px;
}

.brand__sub-title-pink {
    color: var(--pink-text);
}

.registration {
    position: relative;
    background-color: #F8F3F4;
    height: 150px;
}

.registration__wrp {
    display: flex;
    flex-wrap: wrap;
}

.registration__input {
    width: 325px;
    height: 45px;
    margin-bottom: 20px;
    padding-left: 17px;
}

[type="radio"] {
    transform: scale(1.5);
    margin: 31px 10px 0 0;
}

.radio__txt {
    margin: 0 20px 0 0;
}

.registration__title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: var(--pink-text);
    padding-top: 60px;
}

.h3-registration {
    text-transform: capitalize;
    font-weight: 300;
    line-height: 19px;
    font-size: 16px;
    margin: 64px 0px 21px;
}

.login__title {
    margin-top: 33px;
}

.login__txt {
    max-width: 359px;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    opacity: 50%;
}

.registration__link-wrp:hover .registration__link {
    background: var(--pink-text);
    color: var(--white-text);
}

.registration__link {
    border: 1px solid var(--pink-text);
    color: var(--pink-text);
    font-size: 14px;
    line-height: 17px;
    background: none;
    text-decoration: none;
    padding: 16px 29px;
    text-transform: uppercase;
}

.registration__link-wrp {
    margin: 47px 0 112px;
}

.registration__link-img {
    padding-left: 20px;
}

.perks__wrp {
    max-width: 652px;
    margin: 64px 0 0 128px;
}

.perks__title {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.perks__txt {
    margin-bottom: 21px;
}

.perks__txt, .perks__list-item {
    font-weight: 300;
font-size: 24px;
line-height: 29px;
}

.perks__list-item {
    margin-bottom: 16px;
}

.perks__list-img {
    margin-right: 23px;
}

.sales__item {
    width: 360px;
    min-height: 260px ;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    
}

.sales__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sales__item-accesories {
    width: 100%;
}

.sales__item-text-wrp {
    position: absolute;
    text-transform: uppercase;
}

.sales__item-men {
    margin: 0 30px;
}

.sales__item-text {
    color: var(--white-text);
    font-size: 16px;
    line-height: 19px;
}

.sales__item-title {
    font-size: 24px;
    line-height: 29px;
    color: var(--pink-text);
}

.products__title {
    font-size: 30px;
    line-height: 36px;
    color: var(--black);
    text-transform: capitalize;
    text-align: center;
    margin: 96px 0 6px;
}

.products__text {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.products__list {
    display: flex;
    flex-wrap: wrap;
}

.product__item {
    position: relative;
    width: 360px;
    height: 581px;
    background: #F8F8F8;
    margin: 48px 0 30px;
}

.product__item-wrp {
    position: relative;
}

.product__overlay,
.product__button {
    display: none;
}

.product__overlay {
    width: 100%;
    height: 100%;
    background-color: #222222;
    position: absolute;
    top: 0;
    opacity: 50%;
}

.product__item-wrp:hover .product__overlay,
.product__item-wrp:hover .product__button {
display: flex;
}

.product__button {
    border: 1px solid var(--white-text);
    position: absolute;
    padding: 12px;
    top: 50%;
    left: 50%;
    background: none;

    transform: translate(-50%, -50%); 
    align-items: center;
    }

.product__button-text {
    color: var(--white-text);
    margin-left: 11px;
    font-weight: 400;
}

.product__cart-img {
    height: 26px;
    width: 24px;
}

.product__item-center {
    margin: 48px 30px 30px;
}

.products__item-title {
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
}

.products__item--text {
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.products__item-link {
    text-decoration: none;
    color: #F16D7F;
    left: 20px;
    bottom: 20px;
    position: absolute;
}

.product__link-wrp:hover .product__link {
    background: var(--pink-text);
    color: var(--white-text);
}

.product__link {
    border: 1px solid var(--pink-text);
    color: var(--pink-text);
    font-size: 16px;
    line-height: 19px;
    background: none;
    padding: 15px 39px;
    text-decoration: none;
}

.product__link-wrp {
    text-align: center;
    margin: 49px 0 96px;
}

.features {
    background: var(--black);
}

.features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 104px 0;
}


.features__item {
    width: 360px;
    height: 134px;
}

.features__item-title {
    margin: 28px 0 16px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #FBFBFB;
}

.features__item-text {
    color: #FBFBFB;
    font-weight: 300;
}

.footer_wrp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center
}

.footer__person {
    max-width: 360px;
    max-height: 225px;
    margin: 96px 0 126px;
}

.footer__wrp-background {
    background-image: url(../img/fbg.jpg);
    background-repeat: no-repeat;
    background-size: cover
}

.footer__text {
    margin: 30px 0 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    font-style: italic;
}

.footer__subscribe-title {
    font-family: lato;
    font-size: 24px;
    line-height: 40px;
    font-weight: 700;
   text-transform: uppercase;
}
.footer__subscribe-text {
    font-family: lato;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
   text-transform: uppercase;
}

.footer__subscribe {
    margin: 150px 0 0;
}

.footer__subscribe-input {
    width: 234px;
    height: 49px;
    border-radius: 49px 0 0 49px;
   fill: Solid rgba(244, 244, 244, 0.7);
   border: 0;
   font-weight: 400;
   font-family: lato;
}

.footer__subscribe-button:hover {
    transform: scale(1.2)
}

.footer__subscribe-button {
    text-align: center;
    font-family: lato;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    background: #E05C6E;
    border-radius: 0 49px 49px 0;
    height: 49px;
    width: 100px;
    transition: 1s
}

.copy-networks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__networks-list {
    display: flex;
    margin: 24px 0 23px 0;
}

.footer__networks-link {
    margin: 0 7px 0 0;
}

.footer__networks-link:hover .footer__network-img {
    transform: scale(1.2);
}

.footer__network-img {
    transition: 1s;
}

.copy-networks_wrp {
    background: var(--black);
}

.copy {
    margin: 30px 0;
    font-weight: 300;
    font-family: lato;
    font-size: 16px;
    line-height: 19px;
    color:  #FBFBFB;
}
