body {
  font-family: lato;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

@media (max-width: 1599px) {
  .container {
    width: 704px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 343px;
  }
}

.header {
  background-color: #222222;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__search-button:hover ~ [type="search"],
.header__search-button:focus ~ [type="search"],
.header__search-button:active ~ [type="search"] {
  display: block;
}

[type="search"]:active,
[type="search"]:hover {
  display: block;
}

.header__search-button {
  margin: 5px 0 0 0;
  background: #222222;
  border: none;
  cursor: pointer;
}

.header__search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
}

[type="search"] {
  padding: 10px 20px;
  border: none;
  outline: 1px solid black;
  display: none;
}

@media (max-width: 767px) {
  [type="search"] {
    width: 160px;
  }
}

[type="search"]:hover,
[type="search"]:focus {
  outline: 1px solid red;
}

.header__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 75px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin: 0 41px 0 0;
}

.header__button {
  border: 0;
  background-color: transparent;
}

.header__link {
  margin: 0 0 0 33px;
}

.header__button:hover ~ .header__menu,
.header__button:focus ~ .header__menu,
.header__button:active ~ .header__menu {
  display: block;
}

.header__menu:active {
  display: block;
}

.header__menu {
  position: absolute;
  display: none;
  right: 0;
  top: 75px;
  z-index: 100;
  max-width: 232px;
  max-height: 764px;
  background: white;
}

.header__menu-close {
  position: absolute;
  border: none;
  background: none;
  top: 16px;
  right: 16px;
  width: 12px;
  height: 12px;
}

.header__menu-tittle {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
  margin: 37px 0 4px 34px;
  text-transform: uppercase;
  position: relative;
}

@media (max-width: 767px) {
  .header__link {
    display: none;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 63px;
}

.brand__title-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 92px;
  background-color: #F1E4E6;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.brand__title {
  font-weight: 900;
  line-height: 58px;
  font-size: 48px;
  color: #222222;
  text-transform: uppercase;
}

.brand__sub-title {
  display: block;
  font-size: 32px;
  line-height: 38px;
}

.brand__sub-title-pink {
  color: #F1808F;
}

@media (max-width: 1599px) {
  .brand__img {
    width: 50%;
    height: 368px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .brand__title-wrp {
    width: 50%;
    min-height: 368px;
  }
  .brand__title {
    font-size: 44px;
    line-height: 53px;
    font-weight: 900;
    font-style: normal;
  }
  .brand__sub-title {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    font-style: normal;
  }
}

@media (max-width: 767px) {
  .brand__img {
    display: none;
  }
  .brand__title-wrp {
    width: 100%;
    min-height: 368px;
  }
  .brand__title {
    font-size: 38px;
    line-height: 46px;
    font-weight: 900;
    font-style: normal;
  }
  .brand__sub-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
  }
}

.menu-sub-item__item-link {
  text-transform: capitalize;
  color: #6F6E6E;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 12px 55px;
  text-decoration: none;
  display: block;
}

.menu-sub-item__title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #F1808F;
  margin: 20px 0 12px 33px;
  text-transform: uppercase;
}

.sales__item {
  width: 360px;
  min-height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}

@media (min-width: 767px) and (max-width: 1599px) {
  .sales__item {
    max-width: 231px;
    min-height: 168px;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .sales__item {
    width: 95%;
    margin-bottom: 32px;
  }
}

.sales__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sales__item-accesories {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  text-align: center;
}

@media (min-width: 767px) and (max-width: 1599px) {
  .sales__item-accesories {
    min-height: 116px;
  }
}

@media (max-width: 767px) {
  .sales__item-accesories {
    padding-right: 20px;
  }
}

@media (min-width: 767px) and (max-width: 1599px) {
  .sale__img-accesories {
    max-width: 704px;
  }
}

@media (max-width: 767px) {
  .sale__img-accesories {
    max-width: 100%;
    height: 111px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.sales__item-text-wrp {
  position: absolute;
  text-transform: uppercase;
}

.sales__item-text {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 19px;
}

@media (min-width: 767px) and (max-width: 1599px) {
  .sales__item-text {
    left: 15%;
    top: 30%;
  }
}

.sales__item-title {
  font-size: 24px;
  line-height: 29px;
  color: #F1808F;
}

@media (min-width: 767px) and (max-width: 1599px) {
  .sales__img {
    max-width: 231px;
  }
}

@media (max-width: 767px) {
  .sales__img {
    max-width: 95%;
  }
}

.registration {
  position: relative;
  background-color: #F8F3F4;
  height: 150px;
}

.registration__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 767px) and (max-width: 1599px) {
  .registration__form-wrp {
    max-width: 47%;
    margin: 40px 0 0;
  }
}

.registration__link-wrp:hover .registration__link,
.registration__link-wrp:active .registration__link,
.registration__link-wrp:focus .registration__link {
  background: #F1808F;
  color: #FFFFFF;
}

.registration__link {
  border: 1px solid #F1808F;
  color: #F1808F;
  font-size: 14px;
  line-height: 17px;
  background: none;
  text-decoration: none;
  padding: 16px 29px;
  text-transform: uppercase;
}

.registration__link-wrp {
  margin: 47px 0 112px;
}

@media (max-width: 767px) {
  .registration__link-wrp {
    margin: 47px 0 40px;
  }
}

.registration__link-img {
  padding-left: 20px;
}

.registration__input {
  width: 325px;
  height: 45px;
  margin-bottom: 20px;
  padding-left: 17px;
  border: 1px solid;
}

.registration__title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #F1808F;
  padding-top: 60px;
}

.h3-registration {
  text-transform: capitalize;
  font-weight: 300;
  line-height: 19px;
  font-size: 16px;
  margin: 64px 0px 21px;
}

@media (min-width: 767px) and (max-width: 1599px) {
  .h3-registration {
    margin: 0 0 21px;
  }
}

[type="radio"] {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  margin: 31px 10px 0 0;
}

.radio__txt {
  margin: 0 20px 0 0;
}

.login__title {
  margin-top: 33px;
}

.login__txt {
  max-width: 359px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  opacity: 50%;
}

.perks__wrp {
  max-width: 652px;
  margin: 64px 0 0;
}

@media (min-width: 767px) and (max-width: 1599px) {
  .perks__wrp {
    width: 47%;
    margin: 40px 0 0 0;
  }
}

@media (max-width: 767px) {
  .perks__wrp {
    margin: 0 0 100px;
  }
}

.perks__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  margin-bottom: 22px;
}

@media (min-width: 767px) and (max-width: 1599px) {
  .perks__title {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
  }
}

@media (max-width: 767px) {
  .perks__title {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
  }
}

.perks__txt {
  margin-bottom: 21px;
}

.perks__txt,
.perks__list-item {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

@media (min-width: 767px) and (max-width: 1599px) {
  .perks__txt,
  .perks__list-item {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
  }
}

@media (max-width: 767px) {
  .perks__txt,
  .perks__list-item {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
  }
}

.perks__list-item {
  margin-bottom: 16px;
}

.perks__list-img {
  margin-right: 23px;
}

.products__title {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-transform: capitalize;
  text-align: center;
  margin: 96px 0 6px;
}

.products__text {
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

@media (max-width: 767px) {
  .products__text {
    margin-bottom: 65px;
  }
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product__item {
  position: relative;
  width: 360px;
  height: 581px;
  background: #F8F8F8;
  margin: 48px 0 30px;
}

@media (min-width: 767px) and (max-width: 1599px) {
  .product__item {
    max-width: 47%;
    max-height: 582px;
    margin: 0px 0px 17px 16px;
  }
}

@media (max-width: 767px) {
  .product__item {
    width: 95%;
    max-height: 580px;
    margin: 0 0 16px 0;
  }
}

@media (min-width: 767px) and (max-width: 1599px) {
  .products__item-img {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .products__item-img {
    max-width: 100%;
  }
}

.product__item-wrp {
  position: relative;
}

.product__overlay,
.product__button {
  display: none;
}

.product__overlay {
  width: 100%;
  height: 100%;
  background-color: #222222;
  position: absolute;
  top: 0;
  opacity: 50%;
}

.product__item-wrp:hover .product__overlay,
.product__item-wrp:hover .product__button,
.product__item-wrp:active .product__overlay,
.product__item-wrp:active .product__button,
.product__item-wrp:focus .product__overlay,
.product__item-wrp:focus .product__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__button {
  border: 1px solid #FFFFFF;
  position: absolute;
  padding: 12px;
  top: 50%;
  left: 50%;
  background: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__button-text {
  color: #FFFFFF;
  margin-left: 11px;
  font-weight: 400;
}

.product__cart-img {
  height: 26px;
  width: 24px;
}

.product__item-center {
  margin: 48px 30px 30px;
}

@media (min-width: 767px) and (max-width: 1599px) {
  .product__item-center {
    margin: 0px 0px 17px 16px;
  }
}

@media (max-width: 767px) {
  .product__item-center {
    margin: 0 0 16px 0;
  }
}

.products__item-title {
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
}

.products__item--text {
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.products__item-link {
  text-decoration: none;
  color: #F16D7F;
  left: 20px;
  bottom: 20px;
  position: absolute;
}

.product__link-wrp:hover .product__link,
.product__link-wrp:active .product__link,
.product__link-wrp:focus .product__link {
  background: #F1808F;
  color: #FFFFFF;
}

.product__link {
  border: 1px solid #F1808F;
  color: #F1808F;
  font-size: 16px;
  line-height: 19px;
  background: none;
  padding: 15px 39px;
  text-decoration: none;
}

.product__link-wrp {
  text-align: center;
  margin: 49px 0 96px;
}

.features {
  background: #222222;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 104px 0;
}

@media (min-width: 767px) and (max-width: 1599px) {
  .features__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0 64px;
  }
}

.features__item {
  width: 360px;
  height: 134px;
}

@media (min-width: 767px) and (max-width: 1599px) {
  .features__item {
    margin-top: 48px;
  }
}

@media (max-width: 767px) {
  .features__item-center {
    margin: 46px 0;
  }
}

.features__item-title {
  margin: 28px 0 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #FBFBFB;
}

.features__item-text {
  color: #FBFBFB;
  font-weight: 300;
}

.footer_wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

@media (min-width: 767px) and (max-width: 1599px) {
  .footer_wrp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__person {
  max-width: 360px;
  max-height: 225px;
  margin: 96px 0 126px;
}

@media (min-width: 767px) and (max-width: 1599px) {
  .footer__person {
    margin: 53px 0 48px;
  }
}

@media (max-width: 767px) {
  .footer__person {
    margin: 53px auto 48px;
  }
}

.footer__wrp-background {
  background-image: url(../img/fbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__text {
  margin: 30px 0 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
}

.footer__subscribe-title {
  font-family: lato;
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer__subscribe-text {
  font-family: lato;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .footer__subscribe-text {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 22px;
  }
}

.footer__subscribe {
  margin: 150px 0 0;
}

@media (min-width: 767px) and (max-width: 1599px) {
  .footer__subscribe {
    margin-bottom: 140px;
  }
}

@media (max-width: 767px) {
  .footer__subscribe {
    margin: 59px auto 110px;
  }
}

.footer__subscribe-input {
  width: 234px;
  height: 49px;
  border-radius: 49px 0 0 49px;
  fill: Solid rgba(244, 244, 244, 0.7);
  border: 0;
  font-weight: 400;
  font-family: lato;
}

@media (max-width: 767px) {
  .footer__subscribe-input {
    width: 58%;
  }
}

.footer__subscribe-button:hover,
.footer__subscribe-button:active,
.footer__subscribe-button:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.footer__subscribe-button {
  text-align: center;
  font-family: lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  background: #E05C6E;
  border-radius: 0 49px 49px 0;
  height: 49px;
  width: 100px;
  -webkit-transition: 1s;
  transition: 1s;
  position: relative;
  margin-left: -2px;
}

@media (max-width: 767px) {
  .footer__subscribe-button {
    width: 30%;
  }
}

@media (max-width: 767px) {
  .footer__networks {
    margin: 0 auto;
  }
}

.footer__networks-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 24px 0 23px 0;
}

.footer__networks-link {
  margin: 0 7px 0 0;
}

.footer__networks-link:hover .footer__network-img,
.footer__networks-link:active .footer__network-img,
.footer__networks-link:focus .footer__network-img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.footer__network-img {
  -webkit-transition: 1s;
  transition: 1s;
}

.copy-networks_wrp {
  background: #222222;
}

.copy {
  margin: 30px 0;
  font-weight: 300;
  font-family: lato;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

@media (max-width: 767px) {
  .copy {
    display: none;
  }
}

.copy-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart__title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #F1808F;
  padding-top: 60px;
}

.cart__title-wrp {
  position: relative;
  background-color: #F8F3F4;
  height: 150px;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart__product {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 15px 15px 30px 0px #bacbed55;
          box-shadow: 15px 15px 30px 0px #bacbed55;
}

.cart__product-first {
  margin: 96px 0 40px;
}

@media (min-width: 767px) and (max-width: 1599px) {
  .cart__product-first {
    margin: 50px 0 40px;
  }
}

.cart__item-title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  max-width: 262px;
  margin: 22px 0 42px 31px;
}

@media (max-width: 767px) {
  .cart__item-title {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    font-style: normal;
  }
}

@media (max-width: 767px) {
  .cart__item-img {
    max-width: 143px;
    max-height: 188px;
  }
}

.cart__item-txt {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 6px 32px;
  text-transform: capitalize;
}

@media (max-width: 767px) {
  .cart__item-txt {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;
  }
}

.cart__item-price {
  color: #F1808F;
}

.cart__product-button {
  position: absolute;
  top: 28px;
  right: 22px;
  background: none;
  border: none;
  fill: #575757;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 767px) {
  .cart__product-button {
    top: 17px;
  }
}

@media (max-width: 767px) {
  .cart__item-cross-img {
    width: 9px;
    height: 11px;
  }
}

.cart__product-button:hover,
.cart__product-button:focus,
.cart__product-button:active {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

@media (min-width: 767px) and (max-width: 1599px) {
  .cart__shipping {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.cart__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart__details-title {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  margin: 113px 0 20px;
}

@media (min-width: 767px) and (max-width: 1599px) {
  .cart__details-title {
    margin: 64px 0 20px;
  }
}

@media (max-width: 767px) {
  .cart__details-title {
    margin: 48px 0 20px;
  }
}

.cart__details-input {
  border: 1px solid;
  padding-left: 17px;
  width: 343px;
  height: 44px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 20px;
}

@media (min-width: 767px) and (max-width: 1599px) {
  .cart__details-input {
    max-width: 327px;
  }
}

.cart__details-button-text {
  text-transform: uppercase;
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  font-style: normal;
}

.cart__details-button {
  width: 100px;
  height: 34px;
  margin: 4px 0 57px;
}

.cart__proceed {
  background-color: #F5F3F3;
}

@media (min-width: 767px) and (max-width: 1599px) {
  .cart__proceed {
    max-width: 350px;
    max-height: 220px;
    margin: 104px 0 147px 4px;
  }
}

@media (max-width: 767px) {
  .cart__proceed {
    margin-bottom: 96px;
  }
}

.cart__prooced-hr-line {
  margin: 21px 42px 17px 43px;
}

.cart__prooced-subtotal {
  padding: 39px 34px 12px 218px;
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  font-style: normal;
}

.cart__prooced-subtotal-price {
  margin-left: 40px;
}

.cart__prooced-grandtotal {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  padding: 0 37px 0px 153px;
}

.cart__prooced-grandtotal-price {
  color: #F1808F;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  font-style: normal;
  margin-left: 40px;
}

.cart__proceed-link {
  border: 1px solid #F1808F;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  background: #F1808F;
  text-decoration: none;
  padding: 15px 50px;
  text-transform: uppercase;
}

.cart__proceed-link-wrp {
  padding: 17px 0 57px;
  margin-left: 43px;
}

@media (min-width: 767px) and (max-width: 1599px) {
  .cart__proceed-link-wrp {
    margin: 20px 27px;
  }
}

.cart__button-wrp {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart__items {
  width: 50%;
}

@media (min-width: 767px) and (max-width: 1599px) {
  .cart__items {
    margin: 0 auto;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .cart__items {
    width: 100%;
  }
}

.cart__items-button {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  padding: 16px 39px;
  margin: 72px 0 129px;
  background-color: #FFFFFF;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .cart__items-button {
    margin: 30px 0 0;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    font-style: normal;
    max-height: 33px;
    text-transform: none;
    white-space: nowrap;
    max-width: 160px;
    padding: 8px 25px;
  }
}

.cart__item-clear-button {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item__title-wrp {
  position: relative;
  background-color: #F8F3F4;
  height: 150px;
}

.item__title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #F1808F;
  padding-top: 60px;
}

.item__link-list-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item__link-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  text-transform: uppercase;
}

.item__link {
  text-decoration: none;
  color: #636363;
}

.item__link-pink {
  color: #F1808F;
}

.item__arrivals {
  border: 1px solid #EAEAEA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  margin: -10px auto 130px;
  background-color: white;
  position: relative;
}

.item__arrivals-title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  color: #F1808F;
  margin-top: 65px;
}

.item__arrivals-tiny-hr {
  width: 63px;
  color: #F1808F;
  height: 3px;
  margin: 12px 0;
}

.item__arrivals-tiny-title {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 48px;
}

.item__arrivals-txt {
  max-width: 555px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
}

.item__arrivals-price {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  color: #F1808F;
  margin: 32px 0px 65px;
}

.item__arrivals-large-hr {
  border: 1px solid #EAEAEA;
  width: 641px;
  margin-bottom: 65px;
}

.item__button-text {
  color: #F1808F;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  margin: auto;
}

.item__arrivals-basket {
  width: 26px;
  height: 24px;
  background: none;
  position: absolute;
  top: 23%;
  left: 10%;
}

.item__arrivals-button {
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 211px;
  height: 47px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border: 1px solid #FF6A6A;
  margin: 50px 0 65px;
}

.item__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item__product-txt {
  margin: 5px;
}

.carousel {
  max-width: 600px;
}

.carousel-item {
  max-width: 600px;
  max-height: 725px;
}

.carousel-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: #F7F7F7;
  border: 1px solid lightblue;
  padding: 11px 0 42px;
  z-index: 1;
}

.carousel__arrow {
  font-size: 40px;
  color: #F16D7F;
}

.carousel__arrow-prev {
  position: absolute;
  right: 100px;
}

.dropdowns-button {
  background: none;
  color: black;
  border: none;
}

.dropdowns-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */