body {
    font-family: lato;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}