.brand {
    display: flex;
    margin: 0 0 63px;
}

.brand__title-wrp {
    display: flex;
    align-items: center;
    padding: 0 0 0 92px;
    background-color: $pink-bkg;
    flex-grow: 1;
}

.brand__title {
    font-weight: 900;
    line-height: 58px;
    font-size: 48px;
    color: $black;
    text-transform: uppercase;
}

.brand__sub-title {
    display: block;
    font-size: 32px;
    line-height: 38px;
}

.brand__sub-title-pink {
    color: $pink-text;
}

@media (max-width: $tablet-width) {
    .brand__img {
        width: 50%;
        height: 368px;
        object-fit: cover;
    }

    .brand__title-wrp {
        width: 50%;
        min-height: 368px;
    }

    .brand__title {
        @include font (44px, 53px, 900);
    }

    .brand__sub-title {
        @include font(24px, 29px, 700)
    }
}

@media (max-width: $mobile-width) {
    .brand__img {
        display: none;
    }

    .brand__title-wrp {
        width: 100%;
        min-height: 368px;
    }

    .brand__title {
        @include font (38px, 46px, 900);
    }

    .brand__sub-title {
        @include font(20px, 24px, 700)
    }
}