.item__title-wrp {
    position: relative;
    background-color: #F8F3F4;
    height: 150px;
}

.item__title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: $pink-text;
    padding-top: 60px;
}

.item__link-list-wrp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item__link-list {
    display: flex;
    padding-top: 60px;
    text-transform: uppercase;
}

.item__link {
    text-decoration: none;
    color: #636363;
}

.item__link-pink {
    color: $pink-text;
}

.item__arrivals {
    border: 1px solid #EAEAEA;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    margin: -10px auto 130px;
    background-color: white;
    position: relative;
}

.item__arrivals-title {
    @include font(14px, 17px, 300);
    text-transform: uppercase;
    color: $pink-text;
    margin-top: 65px;
}

.item__arrivals-tiny-hr {
    width: 63px;
    color: $pink-text;
    height: 3px;
    margin: 12px 0;
}

.item__arrivals-tiny-title {
    text-transform: uppercase;
    @include font(18px, 22px, 300, normal);
    margin-bottom: 48px;
}

.item__arrivals-txt {
    max-width: 555px;
    @include font(14px, 17px, 300);
}

.item__arrivals-price {
    @include font(24px, 29px, 300);
    color: $pink-text;
    margin: 32px 0px 65px;
}

.item__arrivals-large-hr {
    border: 1px solid #EAEAEA;
    width: 641px;
    margin-bottom: 65px;
}

.item__button-text {
    color: $pink-text;
    @include font(16px, 19px, 400);
    margin: auto;
}

.item__arrivals-basket {
    width: 26px;
    height: 24px;
    background: none;
    position: absolute;
    top: 23%;
    left: 10%;
}

.item__arrivals-button {
    background: none;
    display: flex;
    width: 211px;
    height: 47px;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid #FF6A6A;
    margin: 50px 0 65px;
}

.item__products {
    display: flex;
    justify-content: space-between;
}

.item__product-txt {
    margin: 5px;
}