.perks__wrp {
    max-width: 652px;
    margin: 64px 0 0 128px;
}

.perks__title {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.perks__txt {
    margin-bottom: 21px;
}

.perks__txt,
.perks__list-item {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
}

.perks__list-item {
    margin-bottom: 16px;
}

.perks__list-img {
    margin-right: 23px;
}